name: PHP Lints

on:
    push:
        branches:
            - master
            - release/*
    pull_request:

# Cancel in-progress runs for the same workflow and branch/PR
concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

permissions:
    contents: read
    pull-requests: write

jobs:
    lint-php:
        uses: ./.github/workflows/reusable-php-lint.yml
        with:
            php-version: '7.4'

