name: Deploy to WordPress.org
on:
    push:
        tags:
            - '**'

permissions:
    contents: read

jobs:
    tag:
        name: New tag
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Setup PHP with Composer
              uses: ./.github/actions/setup-php-composer
              with:
                  php-version: '7.4'
                  composer-args: '--prefer-dist --no-progress --no-dev --optimize-autoloader --no-interaction'
                  tools: 'composer'

            - name: Validate composer.json and composer.lock
              run: composer validate


            - name: WordPress Plugin Deploy
              uses: 10up/action-wordpress-plugin-deploy@stable
              env:
                  SLUG: ${{ secrets.SLUG }}
                  SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
                  SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
                  README_NAME: readme.md
