name: Package Plugin

on:
    release:
        types:
            - created
            - edited

permissions:
    contents: write

jobs:
    build:
        name: On Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Setup PHP with Composer
              uses: ./.github/actions/setup-php-composer
              with:
                  php-version: '7.4'
                  composer-args: '--no-progress --no-dev --optimize-autoloader'
                  tools: 'composer'

            - name: Setup Workflow Context
              id: workflow
              working-directory: ${{ runner.temp }}
              env:
                  REPO: ${{ github.repository }}
              run: |
                  mkdir dist
                  echo "DIST=${PWD}/dist" >> "$GITHUB_OUTPUT"
                  echo "PACKAGE=${REPO##*/}" >> "$GITHUB_OUTPUT"

            - name: PHP version
              run: php --version

            - name: Validate composer.json and composer.lock
              run: composer validate

            - name: Prepare files
              run: rsync -r --exclude-from=.distignore . ${{ steps.workflow.outputs.DIST }}/${{ steps.workflow.outputs.PACKAGE }}

            - name: List Files
              working-directory: ${{ steps.workflow.outputs.DIST }}
              run: find .

            - name: Create Zip
              working-directory: ${{ steps.workflow.outputs.DIST }}
              run: zip -r ${{ steps.workflow.outputs.PACKAGE }}.zip .

            - name: Upload Release Asset
              uses: softprops/action-gh-release@v2
              with:
                  files: ${{ steps.workflow.outputs.DIST }}/${{ steps.workflow.outputs.PACKAGE }}.zip
                  fail_on_unmatched_files: true
